<div class="weather">
  
    <select 
       style="font-family: monospace;" #selectedUnit >
         <option  *ngFor="let unit of unitsList"    >{{unit.name}}</option> 
      </select>
  
<input  id="autoCompleteInput" type="text" class="autoComplete"
       [ngModel]="autoCompleteValue"
       (input)="onSearchChange($event.target.value)">
      </div>
<div class="autoComplete" *ngIf="autoCompletedSuggestions">
  <div  *ngFor="let suggestion of autoCompletedSuggestions" (click)="selectSuggestion(suggestion,selectedUnit.value)">
    <span >{{suggestion.LocalizedName}} -{{suggestion.Country.LocalizedName }} </span> , 
  </div>
</div>
<div *ngIf="currentWether">
  <app-weather [currentWeather]="currentWether[0]" [unit]="selectedUnit.value" ></app-weather>
</div>
<div  *ngIf="weatherList">
<div *ngFor="let weather of weatherList" > 
  <span></span>
  <app-weather [nextWeather]="weather"></app-weather>
</div>
</div>

